 body {
      background-color: pink;
      font-family: Arial, sans-serif;
    }

    h2 {
      margin-left: 10px;
    }

    .box {
      width: 30%;
      background-color: white;
      float: left;
      margin: 10px;
      padding: 10px;
    }

    p.middle {
      clear: both;
      padding: 10px;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      font-weight: bold;
    }