  body {
      margin: 0;
      padding: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      background-color: white;
      font-family: Arial, sans-serif;
  }

  .container {
      background-color: #1BC0FF;
      border-radius: 20px;
      padding: 40px 50px;
      margin-top: 60px;
      text-align: center;
      width: 350px;
  }

  h1 {
      margin: 0;
      font-size: 22px;
  }


  form {
      display: flex;
      flex-direction: column;
      gap: 10px;
  }


  input {
      padding: 8px;
      border-radius: 5px;
      border: 1px solid #ccc;
      outline: none;
  }



  button {
      margin-top: 15px;
      background-color: #4da3ff;
      color: white;
      border: none;
      padding: 10px;
      border-radius: 6px;
      cursor: pointer;
      text-align: left;


  }

  button:hover {
      background-color: #298ef0;
  }