 body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }

    h2 {
      margin-bottom: 10px;
    }

    
    .fixed {
      position: fixed;
      right: 50px;
      top: 50px;
      width: 150px;
      border: 1px solid black;
      background-color: white;
      padding: 10px;
      text-align: center;
    }

    .fixed img {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }

    p {
      text-align: justify;
    }