 body {
      margin: 0;
      padding: 0;
    }

    .container {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: auto auto auto;
      gap: 10px;
      height: 100vh;
      box-sizing: border-box;
      padding: 10px;
    }

    .black {
      background-color: black;
      grid-column: 1 / 3; 
    }

    .orange {
      background-color: orange;
    }

    .green {
      background-color: green;
    }

    .blue {
      background-color: blue;
      grid-column: 1 / 3; 
    }